<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pnufest">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main2"
        android:label="오늘의게시판"
        android:roundIcon="@mipmap/ic_main2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pnufest"
        android:name="androidx.multidex.MultiDexApplication">
        <!--Splash Activity-->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--Splash Activity-->
        <activity android:name=".MainActivity"/>
    </application>


</manifest>